## Notebook for Accenture Cloudwars
### Assess Ground Truth data

Date: 2021-02-09

Author: Ingmar Nitze

Contact: ingmar.nitze@awi.de

In [1]:
import geopandas as gpd

### Settings
Link to data: https://1drv.ms/u/s!AobXXrP933xWhIYvHYNwua_xK3piDw?e=BILn9c

In [2]:
INFILE = r'data/merged_thaw_slumps_validated.shp'

#### Open file

In [3]:
df = gpd.read_file(INFILE)

#### get center coordinates

In [6]:
df.geometry.centroid

<ipython-input-6-7b53814f6c7c>:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df.geometry.centroid

0       POINT (124.43463 69.14881)
1       POINT (124.46113 69.13897)
2       POINT (124.43300 69.14562)
3       POINT (124.36023 69.09896)
4       POINT (124.46190 69.13371)
                   ...
1198     POINT (48.40812 69.31639)
1199     POINT (48.41369 69.31957)
1200     POINT (48.38821 69.30503)
1201     POINT (48.38969 69.30572)
1202     POINT (48.40282 69.31370)
Length: 1203, dtype: geometry

In [9]:
df.to_crs(epsg=4326)

,index,label,id,image_id,image_date,geometry
0,0,1,0,20180702_025400_0f31,2018-07-02,"POLYGON ((124.43470 69.14794, 124.43420 69.147..."
1,1,1,1,20180702_025400_0f31,2018-07-02,"POLYGON ((124.45902 69.13850, 124.45866 69.138..."
2,2,1,2,20180702_025400_0f31,2018-07-02,"POLYGON ((124.43140 69.14645, 124.43183 69.146..."
3,3,1,3,20180702_025400_0f31,2018-07-02,"POLYGON ((124.36242 69.09937, 124.36246 69.099..."
4,4,1,4,20180702_025400_0f31,2018-07-02,"POLYGON ((124.45975 69.13288, 124.45988 69.133..."
...,...,...,...,...,...,...
1198,2,1,2,20190921_080322_1011,2019-09-21,"POLYGON ((48.40274 69.31581, 48.40531 69.31720..."
1199,3,1,3,20190921_080322_1011,2019-09-21,"POLYGON ((48.41243 69.32163, 48.41893 69.32072..."
1200,4,1,4,20190921_080322_1011,2019-09-21,"POLYGON ((48.38733 69.30482, 48.38771 69.30511..."
1201,5,1,5,20190921_080322_1011,2019-09-21,"POLYGON ((48.38813 69.30532, 48.38926 69.30609..."
1202,6,1,6,20190921_080322_1011,2019-09-21,"POLYGON ((48.40415 69.31276, 48.40371 69.31267..."